body {
    font: Arial;
    margin: 50px;
    background-color:#404040;
}

#title {
    text-align: center;
    color: white;
}

#frame {
    border: #696969;
    border-radius: 15px;
    background-color: #DCDCDC;
}

textarea {
    border: 1px grey solid;
    background-color: #DCDCDC;
    margin: 50px 25px 50px 25px;
    radius: 10px;
    width: 90%;
    height: 900px;
}

div #preview {
    border: 1px grey solid;
    margin: 50px 50px 50px 25px;
    padding: 20px;
    radius: 10px;
}
